<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bookshelf</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/tachyons.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/vex.css')}}" />
  <link rel="stylesheet" href="{{url_for('static', filename='css/vex-theme-wireframe.css')}}" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="{{url_for('static', filename='js/vex.combined.min.js')}}"></script>
  <script>
    vex.defaultOptions.className = 'vex-theme-wireframe'
  </script>
</head>

<body class="avenir">
  <header class="pa3 ph5-ns">
    <nav class="dt dt--fixed w-100 border-box pb3-ns bb b--black-80  bw1">
      <div class="dtc dn-ns w-third"></div>
      <a class="dtc v-mid mid-gray link dim w-third w-25-ns tc tl-ns mb2 mb0-ns" href="#" title="Home">
            <img src="{{url_for('static', filename='img/logo.svg')}}" class="dib w3 h2" alt="Site Name">
      </a>
      <div class="static-ns absolute left-0 mt5 mt0-ns db dtc-ns v-mid w-100 w-75-ns h-80 tr avenir fw6">
        {% if current_user.is_authenticated %}
        <img class="dib w2 h2 br-100 v-mid" src="{{ current_user.avatar }}" />
        <a class="v-mid ph3 link dim dark-gray tc tl-ns f3 f5-ns db dib-ns pv1 mr0" href="#" title="User">{{current_user.name}}</a>
        <a class="v-mid f6 link dim br3 ph3 pv1 dib white bg-dark-gray" href="{{url_for('logout')}}">Logout</a> {% else %}
        <a class="link dim dark-gray tc tl-ns f3 f5-ns db dib-ns pv1 mr0 mr4-ns" href="#" title="Sign In">Sign Up</a>
        <a class="f6 link dim br3 ph3 pv1 mb2 dib white bg-dark-gray" href="{{ url_for('login') }}">Login</a> {% endif %}
      </div>
    </nav>
  </header>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="flex items-center justify-center pa2 bg-lightest-blue navy">
    {% for message in messages %}
      <svg class="w1" data-icon="info" viewBox="0 0 32 32" style="fill:currentcolor">
       <title>info icon</title>
    <path d="M16 0 A16 16 0 0 1 16 32 A16 16 0 0 1 16 0 M19 15 L13 15 L13 26 L19 26 z M16 6 A3 3 0 0 0 16 12 A3 3 0 0 0 16 6"></path>
      </svg>
  <span class="lh-title ml3">{{ message }}</span>
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}
  {% block content %} 
  {% endblock %}
  <footer class="bg-white black pv2 ph4 bt bw1 avenir fw6 cb">
    <p class="f6"><span class="dib mr4 mr5-ns">©2017 Amanuel Ghebreweldi</span>
      <a class="link black hover-grey" href="/terms">Terms</a> /
      <a class="link black hover-grey" href="/privacy"> Privacy </a> /
      <a class="link black hover-grey" href="#">hi@yourcompany.com </a>
    </p>
  </footer>
</body>
</html>