{% extends "base.html" %} {% block login %} {{ super() }} {% endblock %} {% block content %}
<div class="w-100-l ph5-ns center contain">
  <div class="w-25-l dib">
    <h2 class="ma-2 avenir tc">Genre</h2>
    <ul class="list pl0 ml0">
      {% for genre in genres %}
      <li class="ph3 pv2 tc"> {{ genre.name }}</li>
      {% endfor %}
    </ul>
  </div>
  <div class="w-75 dib cf fr-l center">
    <h2 class="ma-2 avenir tc">Books</h2>
    {% for book in books %}
    <article class="dt w-100 bb b--black-10 pb2 mt2">
        <div class="dtc w4 v-mid">
          <a class="grow db" href="">
             <img src="{{ book.img_url }}" class="db w-100 br2" />
          </a>
        </div>
        <div class="dtc v-mid pl4">
          <h1 class="f4 fw6 lh-title black mv0">{{ book.title }}</h1>
          <h2 class="f5 fw4 mt2 mb0 black-60">{{ book.author }}</h2>
        </div>
        <div class="dtc v-mid">
          <a href="#0" class="tr pl4 blue link dim db">Edit</a>
          <a href="#0" class="tr pl4 blue link dim db">Delete</a>
        </div>
    </article>
    {% endfor %}
  </div>
  {% endblock %} {% block footer %} {{ super() }} {% endblock %}