{% extends "base.html" %}

{% block content %}
  <section class="dt center pv4 pv5-m pv4-ns">
    <div class="dtc v-mid">
      <img src="{{url_for('static', filename='img/samuel-zeller-106867.jpg')}}" alt="A bright blue sky" class="mw6 br4" />
    </div>
    <div class="dtc v-mid pl5 avenir">
      <h1 class="fw6 f2-l fw2 ttu">Your virtual bookshelf </h1>
      <h2 class="f5 f3-l fw1 lh-title">A new way to share your favorite books online.</h2>
    </div>
  </section>

  <section class="dt w-100 border-box bg-black">
    <h3 class="pa4 white avenir f5 fw3">Quotes</h3>
    <blockquote class="fl w-100 ph0 border-box mh0 mb4 mb5-ns pb5 white">
      <p class="f5 f3-ns measure fw5 pl4 mt0 baskerville">
        People with large book collections are almost always diligent learners.
      </p>
      <cite class="mtw sans-serif f5">
                <span class="fw6 pl4 ">Wilson Miner</span>
                <span class="db pl4">Digital Design - The California Sunday Magazine</span>
              </cite>
    </blockquote>
  </section>
  
  <section class="cf pa3 ph5-ns">
    <div class="fl w-third pa2">
      <div class="tc pa2 bg-white br3 mv3 ba b--black-10">
        <img src="http://tachyons.io/img/avatar_1.jpg" class="br-100 h3 w3 dib" title="Photo of a kitty staring at you">
        <h1 class="f4">Mimi Whitehouse</h1>
        <hr class="mw3 bb bw1 b--black-10">
        <p class="lh-copy measure center f6 black-70">
          Quite affectionate and outgoing. She loves to get chin scratches and will roll around on the floor waiting for you give her
          more of them.
        </p>
      </div>
    </div>
    <div class="fl w-third pa2">
      <div class="tc pa2 bg-white br3 mv3 ba b--black-10">
        <img src="http://tachyons.io/img/avatar_1.jpg" class="br-100 h3 w3 dib" title="Photo of a kitty staring at you">
        <h1 class="f4">Mimi Whitehouse</h1>
        <hr class="mw3 bb bw1 b--black-10">
        <p class="lh-copy measure center f6 black-70">
          Quite affectionate and outgoing. She loves to get chin scratches and will roll around on the floor waiting for you give her
          more of them.
        </p>
      </div>
    </div>
    <div class="fl w-third pa2">
      <div class="tc pa2 bg-white br3 mv3 ba b--black-10">
        <img src="http://tachyons.io/img/avatar_1.jpg" class="br-100 h3 w3 dib" title="Photo of a kitty staring at you">
        <h1 class="f4">Mimi Whitehouse</h1>
        <hr class="mw3 bb bw1 b--black-10">
        <p class="lh-copy measure center f6 black-70">
          Quite affectionate and outgoing. She loves to get chin scratches and will roll around on the floor waiting for you give her
          more of them.
        </p>
      </div>
    </div>
  </section>
{% endblock %}

