{% extends "base.html" %}
{% block content %} 
<main class="pa4 black-80 avenir">
  <form enctype=multipart/form-data action="{{ url_for('add') }}" class="measure center" method="post">
    <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
      <legend class="f4 fw6 ph0 mh0">Add Book</legend>
      {{ form.hidden_tag() }}
      <div class="mt3">
        {{ form.title.label(class_='db fw6 lh-copy f6') }} {{ form.title(class_='pa2 input-reset ba bg-transparent w-100') }}
      </div>
      <div class="mv3">
        {{ form.author.label(class_='db fw6 lh-copy f6') }} {{ form.author(class_='pa2 input-reset ba bg-transparent w-100') }}
      </div>
      <div class="mv3">
        {{ form.genre.label(class_='db fw6 lh-copy f6') }} {{ form.genre(class_='pa2 input-reset ba bg-transparent w-100') }}
      </div>
      <div class="mv3">
        {{ form.description.label(class_='db fw6 lh-copy f6') }} {{ form.description(class_='db border-box hover-black w-100 measure
        ba b--black-20 pa2 br2 mb2',rows="10",cols="20") }}
      </div>
      <div class="mt4 mb3">
        {{ form.image.label(class_='fw6 lh-copy f6 tc') }}
      </div>
      <img src="{{img}}" class="mw4" id="img1" /> {{ form.image(class_='pt3 db', id="upload") }}
    </fieldset>
    <div class="mv3">
      {{ form.submit(class_='b ph3 pv2 input-reset ba b--black bg-transparent grow f6 dib') }}
    </div>
  </form>
</main>
<script>
  $('#upload').change(function () {
    showImage(this);
  });
  function showImage(input) {
    var reader = new FileReader();
    reader.onload = function (e) {
      $('#img1').attr('src', e.target.result);
    }
    if (input.files.length > 0) {
      reader.readAsDataURL(input.files[0]);
    } else {
      alert("No File Detected...")
    }
  }
</script>
{%endblock%}