<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bookshelf</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/tachyons.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/vex.css')}}" />
  <link rel="stylesheet" href="{{url_for('static', filename='css/vex-theme-wireframe.css')}}" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="{{url_for('static', filename='js/vex.combined.min.js')}}"></script>
  <script>
    vex.defaultOptions.className = 'vex-theme-wireframe'
  </script>
</head>

<body class="avenir">
  <div class="flex flex-column min-vh-100">
     <header>
    <nav class="dt dt--fixed w-100 border-box pb3-ns bb b--black-80  bw1 pa3 ph5-ns">
      <a class="dtc v-mid mid-gray link dim w-third w-25-ns tc tl-ns mb2 mb0-ns" href="{{url_for('show_collection')}}" title="Home">
            <img src="{{url_for('static', filename='img/logo.svg')}}" class="dib w3 h2 v-mid" alt="Site Name">
      </a>
      <div class="static-ns absolute left-0 mt5 mt0-ns db dtc-ns v-mid w-100 w-75-ns h-80 tr avenir fw6">
        {% if current_user.is_authenticated %}
        <a class="v-mid link pv1 ph3 f5 fw4  underline-hover blue" href="{{url_for('add')}}">Add a book</a>
        <img class="dib w2 h2 br-100 v-mid" src="{{ current_user.avatar }}" />
        <a class="v-mid ph3 link dark-gray tc tl-ns f5 dib pv1 mr0" href="#" title="User">{{current_user.name}}</a>
        <a class="v-mid f5  link br1 ph3 pv1 dib white bg-dark-gray" href="{{url_for('logout')}}">Logout</a> {% else
        %}
        <a class="v-mid f5  link br1 ph3 pv1 dib white bg-dark-gray" href="{{ url_for('login') }}">Login</a> {% endif
        %}
      </div>
    </nav>
  </header>
    <div class="flex-auto">
      {% block content %} {% endblock %}
    </div>
    <footer class="h3 bg-white black ph4 bt bw1 avenir fw6">
      <p class="flex justify-between f6">
        <span class="dib">©2017 Amanuel Ghebreweldi</span>
        <span class="dib">Udacity Fullstack Nanodegree Project</span>
      </p>
    </footer>
  </div>
</body>

</html>