{% extends "base.html" %} {% block content %}
<div class="w-100-l ph5 pv3 center contain">
  <div class="w-25-l dib ">
    <h2 class="avenir fw6 near-black">Genre</h2>
    <ul class="list pl0 ml0">
      <li class="pv2">
        <a href="{{ url_for('show_collection')}}" class="link blue lh-title">
          <span class="fw5 underline-hover">All ({{ count }})</span>
        </a>
      </li>
      {% for genre in genres %}
      <li class="pv2">
        <a href="{{ url_for('show_genre_items', genreid=genre.id) }}" class="link blue lh-title">
          <span class="fw4 underline-hover">{{ genre.name }} ({{ genre.items.all() | length }})</span>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="w-75 dib cf fr-l center">
    <h2 class="ma-2 avenir fw6 tc near-black">All</h2>
    {% for book in books.items %}
    <article class="dt w-100 bb b--black-10 pb2 mt2">
      <div class="dtc w4 v-mid">
        <a class="grow db" href={{url_for( 'show_book',bookid=book.id)}}>
             <img src="{{ book.img_url }}" class="db w-100 br2" />
          </a>
      </div>
      <div class="dtc v-mid pl4">
        <h1 class="f4 fw6 lh-title near-black mv0">{{ book.title }}</h1>
        <h2 class="f5 fw4 mt2 mb0 black-60">{{ book.author }}</h2>
      </div>
      {% if current_user.is_authenticated %}
      <div class="dtc v-mid">
        <a href="{{ url_for('edit_book',bookid=book.id) }}" class="tr pl4 blue link dim db">Edit</a>
        <a href="{{ url_for('delete_book',bookid=book.id) }}" id="{{ book.id }}" class="tr pl4 blue link dim db delete">Delete</a>
      </div>
      {% endif %}
    </article>
    {% endfor %}
    <div class="flex items-center justify-center pa4">
      {% if books.has_prev %}
      <a href="{{ url_for('show_collection',page=books.prev_num) }}" class="bw1 f5 no-underline black bg-animate hover-bg-black hover-white inline-flex items-center pa3 ba border-box mr4">
        <svg class="w1" data-icon="chevronLeft" viewBox="0 0 32 32" style="fill:currentcolor">
          <title>chevronLeft icon</title>
          <path d="M20 1 L24 5 L14 16 L24 27 L20 31 L6 16 z"></path>
        </svg>
        <span class="pl1 f5">Prev</span>
      </a>
      {% else %}
      <a href="#" class="bw1 f5 no-underline black bg-animate hover-bg-black hover-white inline-flex items-center pa3 ba border-box mr4">
        <svg class="w1" data-icon="chevronLeft" viewBox="0 0 32 32" style="fill:currentcolor">
          <title>chevronLeft icon</title>
          <path d="M20 1 L24 5 L14 16 L24 27 L20 31 L6 16 z"></path>
        </svg>
        <span class="pl1 f5">Prev</span>
      </a>
      {% endif %} {% if books.has_next %}
      <a href="{{ url_for('show_collection',page=books.next_num) }}" class="bw1 f5 no-underline black bg-animate hover-bg-black hover-white inline-flex items-center pa3 ba border-box">
        <span class="pr1 f5">Next</span>
            <svg class="w1" data-icon="chevronRight" viewBox="0 0 32 32" style="fill:currentcolor">
                <title>chevronRight icon</title>
            <path d="M12 1 L26 16 L12 31 L8 27 L18 16 L8 5 z"></path>
            </svg>
        </a> {% else %}
      <a href="#" class="bw1 f5 no-underline black bg-animate hover-bg-black hover-white inline-flex items-center pa3 ba border-box">
        <span class="pr1 f5">Next</span>
            <svg class="w1" data-icon="chevronRight" viewBox="0 0 32 32" style="fill:currentcolor">
                <title>chevronRight icon</title>
            <path d="M12 1 L26 16 L12 31 L8 27 L18 16 L8 5 z"></path>
            </svg>
        </a> {% endif %}
    </div>
  </div>
</div>
  {# Confirm dialog to delete book #}
  <script>
     var csrf_token = "{{ csrf_token() }}";

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
        }
    });
    $('a.delete').click(function (e) {
      e.preventDefault(); // default action not triggered
      vex.dialog.buttons.YES.text = 'Delete';
      vex.dialog.confirm({ // Confirm to delete book
        message: 'Delete book ?',
        callback: function (value) {
          if (value) {
            $.ajax({ // POST request using AJAX
              statusCode: {
                401: function () {
                  vex.dialog.buttons.YES.text='OK';
                  vex.dialog.alert('No Authorization');
                }
              },
              url: e.target.href,
              type: 'post',
              success: function (res) {
                console.log(res)
                if (res.success) {
                  setTimeout(function () { //reload page 
                    location.reload();
                  }, 1000);
                }
              }

            });
          }

        }
      });
    });
  </script>
  {% endblock %}